* {
  font-family: "Source Sans Pro", sans-serif;
}
.tlink {
  margin-left: 6px;
  word-wrap: break-word;
}

.mat-icon:hover {
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}
mat-toolbar {
  background: #212529;
  color: #fff;
}
.navbar {
  height: 80px;
}

.navbar-nav > li {
  /* margin-left: 10px;
  margin-right: 10px; */
  font-size: 1rem;
  font-weight: 400;
}
.navbar-brand :hover {
  transform: scale(1.15);
}
.nav-item :hover {
  transform: scale(1.15);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
