<div class="mycs">
  <div class="container rounded">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="box">
            <h1>Login / SignIn</h1>
            <div fxLayoutAlign="center center" class="btn">
              <button (click)="signInWithGoogle()">
                <img
                  src="https://img.icons8.com/plasticine/100/000000/google-logo.png"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
