<div>
  <table
    *ngIf="unprocessedFiles.length > 0"
    align="center"
    class="table"
    align="center"
    style="width: 100%"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">File Name</th>
        <th *ngIf="mode == 'trainer'" scope="col">Delete File</th>
      </tr>
    </thead>

    <tr *ngFor="let files of unprocessedFiles; let i = index" scope="row">
      <td>
        <mat-icon color="primary">file_copy</mat-icon>
        <a (click)="downloadFile(files.file, files.fileType)">
          {{ files.fileName }}
        </a>
      </td>
      <td>
        <button
          (click)="deleteTraining(files.materialID)"
          class="btn btn-danger"
          style="color: black"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>

  <div *ngIf="unprocessedFiles.length == 0">
    <h2 *ngIf="mode == 'trainer'">
      Please upload some training material for reference
    </h2>
    <h2 *ngIf="mode == 'user'">No training material available !</h2>
  </div>
</div>
