/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  /* background: #edf1f5; */
  background: white;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
